/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_scss/common/_classes.scss */
.cta {
  -webkit-transition: background, 0.25s;
  -moz-transition: background, 0.25s;
  -o-transition: background, 0.25s;
  transition: background, 0.25s;
  outline: none;
  color: #e94127;
  display: inline-block;
  text-transform: lowercase;
  font-size: 1em;
}
/* line 9, ../_scss/common/_classes.scss */
.cta:hover {
  background: #e94127;
  color: white;
}

/* line 15, ../_scss/common/_classes.scss */
.divider, .intro:after, .project-body:after {
  content: "\2767";
  color: #ccc;
  display: block;
  font-size: 2em;
  text-align: center;
}

@font-face {
  font-family: 'jshakes-icons';
  src: url("/fonts/jshakes-icons.eot?i18epf");
  src: url("/fonts/jshakes-icons.eot?#iefixi18epf") format("embedded-opentype"), url("/fonts/jshakes-icons.woff?i18epf") format("woff"), url("/fonts/jshakes-icons.ttf?i18epf") format("truetype"), url("/fonts/jshakes-icons.svg?i18epf#jshakes") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 36, ../_scss/common/_icons.scss */
.icon-search {
  content: "\e602";
}

/* line 39, ../_scss/common/_icons.scss */
.icon-phone {
  content: "\e603";
}

/* line 42, ../_scss/common/_icons.scss */
.icon-hamburger {
  content: "\e604";
}

/* line 45, ../_scss/common/_icons.scss */
.icon-fb {
  content: "\e605";
}

/* line 48, ../_scss/common/_icons.scss */
.icon-email, .contact-link .contact-email:before {
  content: "\e606";
}

/* line 51, ../_scss/common/_icons.scss */
.icon-arrow-right {
  content: "\e600";
}

/* line 54, ../_scss/common/_icons.scss */
.icon-arrow-left {
  content: "\e607";
}

/* line 57, ../_scss/common/_icons.scss */
.icon-arrow-up {
  content: "\e608";
}

/* line 60, ../_scss/common/_icons.scss */
.icon-arrow-down {
  content: "\e609";
}

/* line 63, ../_scss/common/_icons.scss */
.icon-twitter, .contact-link .contact-twitter:before {
  content: "\e601";
}

/* line 66, ../_scss/common/_icons.scss */
.icon-jshakes-logo, .site-header-icon:before {
  content: "\e60a";
}

/* line 69, ../_scss/common/_icons.scss */
.icon-github, .contact-link .contact-github:before {
  content: "\e60b";
}

/* line 1, ../_scss/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../_scss/base/_base.scss */
body {
  font-family: "Georgia", serif;
  font-size: 16px;
  min-width: 300px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 19, ../_scss/base/_base.scss */
p {
  line-height: 1.5;
}

/* line 23, ../_scss/base/_base.scss */
blockquote {
  border-left: 2px solid #DEDEDE;
  padding-left: 1em;
  font-style: italic;
  margin-bottom: 1em;
}

/* line 30, ../_scss/base/_base.scss */
code {
  font-family: monospace;
  background: #EEE;
  padding: .1em .25em;
}

/* line 36, ../_scss/base/_base.scss */
pre {
  background: #111;
  padding: 1em;
  line-height: 1.5;
  margin: 0 0 2em;
  white-space: pre-wrap;
}
/* line 42, ../_scss/base/_base.scss */
pre code {
  background: none;
  padding: 0;
}
@media (max-width: 600px) {
  /* line 36, ../_scss/base/_base.scss */
  pre {
    font-size: .75em;
  }
}

/* line 51, ../_scss/base/_base.scss */
em {
  font-style: italic;
}

@font-face {
  font-family: 'allerregular';
  src: url("../fonts/aller_rg-webfont.eot");
  src: url("../fonts/aller_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_rg-webfont.woff") format("woff"), url("../fonts/aller_rg-webfont.ttf") format("truetype"), url("../fonts/aller_rg-webfont.svg#allerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../_scss/base/_fonts.scss */
.aller {
  font-family: 'allerregular', arial;
}

/* line 16, ../_scss/base/_fonts.scss */
.aller-light, .cta {
  font-family: 'aller_lightregular', arial;
}

@font-face {
  font-family: 'aller_lightregular';
  src: url("../fonts/aller_lt-webfont.eot");
  src: url("../fonts/aller_lt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_lt-webfont.woff") format("woff"), url("../fonts/aller_lt-webfont.ttf") format("truetype"), url("../fonts/aller_lt-webfont.svg#aller_lightregular") format("svg");
  font-weight: lighter;
  font-style: normal;
}

/* line 1, ../_scss/base/_layout.scss */
.content-wrapper {
  color: #444444;
}
/* line 3, ../_scss/base/_layout.scss */
.content-wrapper a {
  text-decoration: underline;
}

/* line 10, ../_scss/base/_layout.scss */
.site-header {
  text-align: center;
  padding: 2em 0;
  background: #e94127;
  color: white;
}

/* line 17, ../_scss/base/_layout.scss */
.site-header-permalink {
  color: white;
  text-decoration: none;
}

/* line 22, ../_scss/base/_layout.scss */
.site-header-icon {
  display: inline;
  font-size: 0;
}
/* line 20, ../_scss/common/_icons.scss */
.site-header-icon:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
/* line 26, ../_scss/base/_layout.scss */
.site-header-icon:before {
  font-size: 60px;
}

/* line 33, ../_scss/base/_layout.scss */
.site-footer {
  text-align: center;
  color: #666666;
  padding: 2em 0;
}
/* line 37, ../_scss/base/_layout.scss */
.site-footer a {
  color: #666666;
  text-decoration: none;
}
/* line 40, ../_scss/base/_layout.scss */
.site-footer a:hover {
  text-decoration: underline;
}

/* line 48, ../_scss/base/_layout.scss */
.page-content {
  max-width: 1280px;
  margin: 3em auto 0;
  padding: 0 1em;
}

/* line 54, ../_scss/base/_layout.scss */
.page-title, .project-title {
  font-size: 3em;
  margin-bottom: 1em;
}

/* line 1, ../_scss/modules/_index.scss */
.project-index {
  padding: 20px 20px 0 0;
  font-size: 0;
}
/* line 4, ../_scss/modules/_index.scss */
.project-index .project-item {
  display: inline-block;
  width: 33.33333%;
  padding: 0 0 20px 20px;
}
/* line 9, ../_scss/modules/_index.scss */
.project-index .project-permalink {
  display: block;
}
/* line 11, ../_scss/modules/_index.scss */
.project-index .project-permalink > img {
  width: 100%;
}

/* line 3, ../_scss/modules/_home.scss */
.intro {
  padding: 3.5em 1em 1.5em;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}
/* line 9, ../_scss/modules/_home.scss */
.intro:after {
  margin: 1.5em 0 .25em;
}

/* line 15, ../_scss/modules/_home.scss */
.contact-links {
  margin: 1em 0 0;
}

/* line 19, ../_scss/modules/_home.scss */
.contact-link {
  display: inline-block;
  margin: 0 1em;
}
/* line 22, ../_scss/modules/_home.scss */
.contact-link > a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background, 0.25s;
  -moz-transition: background, 0.25s;
  -o-transition: background, 0.25s;
  transition: background, 0.25s;
  color: #e94127;
  width: 42px;
  height: 42px;
  display: block;
}
/* line 30, ../_scss/modules/_home.scss */
.contact-link > a:before {
  font-size: 20px;
  vertical-align: middle;
  line-height: 41px !important;
}
/* line 35, ../_scss/modules/_home.scss */
.contact-link > a:hover {
  background: #e94127;
  color: white;
}
/* line 41, ../_scss/modules/_home.scss */
.contact-link .contact-email {
  font-size: 0;
}
/* line 20, ../_scss/common/_icons.scss */
.contact-link .contact-email:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1rem;
}
/* line 44, ../_scss/modules/_home.scss */
.contact-link .contact-twitter {
  font-size: 0;
}
/* line 20, ../_scss/common/_icons.scss */
.contact-link .contact-twitter:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1rem;
}
/* line 47, ../_scss/modules/_home.scss */
.contact-link .contact-github {
  font-size: 0;
}
/* line 20, ../_scss/common/_icons.scss */
.contact-link .contact-github:before {
  font-family: 'jshakes-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1rem;
}

/* line 1, ../_scss/modules/_post.scss */
.project-header {
  text-align: center;
  margin: 0 0 3em;
}

/* line 6, ../_scss/modules/_post.scss */
.project-permalink {
  color: #444444;
  display: block;
  text-decoration: none;
}

/* line 18, ../_scss/modules/_post.scss */
.project-body {
  padding-bottom: 1.5em;
  max-width: 600px;
  margin: 0 auto;
}
/* line 22, ../_scss/modules/_post.scss */
.project-body h3, .project-body h4, .project-body h5, .project-body h6 {
  padding: .5em 0 1.5em;
}
/* line 25, ../_scss/modules/_post.scss */
.project-body h3 {
  font-size: 2em;
}
/* line 28, ../_scss/modules/_post.scss */
.project-body h4 {
  font-size: 1.5em;
}
/* line 31, ../_scss/modules/_post.scss */
.project-body > p {
  margin: 0 0 1.5em;
}
@media (max-width: 600px) {
  /* line 37, ../_scss/modules/_post.scss */
  .project-body ul {
    padding-left: 1em;
  }
}
/* line 41, ../_scss/modules/_post.scss */
.project-body ul li {
  margin: 0 0 2em;
  list-style: disc;
  line-height: 1.5;
}
/* line 47, ../_scss/modules/_post.scss */
.project-body a {
  color: #e94127;
}
/* line 49, ../_scss/modules/_post.scss */
.project-body a:hover {
  text-decoration: underline;
}

/* line 1, ../_scss/modules/_slideshow.scss */
.slideshow {
  height: 500px;
  margin: 2em 0;
}

/* line 6, ../_scss/modules/_slideshow.scss */
.slide {
  position: relative;
  text-align: center;
}
/* line 9, ../_scss/modules/_slideshow.scss */
.slide img {
  width: 80%;
}
/* line 12, ../_scss/modules/_slideshow.scss */
.slide.imac {
  height: 500px;
  background: url("../img/imac_slide_bg.png") no-repeat 50% 0;
  background-size: auto 100%;
}
/* line 16, ../_scss/modules/_slideshow.scss */
.slide.imac img {
  position: absolute;
  left: 50%;
  top: 5.4%;
  width: auto;
  height: 67.2%;
  margin-left: -298px;
}
