.project-header{
  text-align: center;
  margin: 0 0 3em;
}

.project-permalink{
  color: $body_copy;
  display: block;
  text-decoration: none;
}

.project-title{
  @extend .page-title;
}

// Article body

.project-body{
  padding-bottom: 1.5em;
  max-width: 600px;
  margin: 0 auto;
  h3, h4, h5, h6{
    padding: .5em 0 1.5em;
  }
  h3{
    font-size: 2em;
  }
  h4{
    font-size: 1.5em;
  }
  & > p{
    margin: 0 0 1.5em;
  }
  &:after{
    @extend .divider;
  }
  ul{
    @include smaller-than(medium) {
      padding-left: 1em;
    }
    li{
      margin: 0 0 2em;
      list-style: disc;
      line-height: 1.5;
    }
  }
  a{
    color: $red;
    &:hover{
      text-decoration: underline;
    }
  }
}
