<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>
  <link rel="shortcut icon" href="/img/favicon.png">
  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6245948-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>
  
  <header class="site-header">
    <a class="site-header-permalink" href="/">
      <h2 class="site-header-icon">JS</h2>
    </a>
  </header>
  <div class="content-wrapper">
    {{ content }}
  </div>
  <footer class="site-footer">
    <p><a href="https://profiles.google.com/102535426839727420493" target="_blank" rel="author">James Shakespeare</a>, {{ site.time | date: "%Y"}}<br>
      Lon &#9992; NY</p>
  </footer>
</body>
</html>
